[data-tab-content] {
    display: none;
}
.active[data-tab-content] {
    display: block;
}
body{
    padding: 0;
    margin: 0;
    color: black;
    font-family: 'Open Sans', sans-serif;
}
#myVideo {
    position:fixed;
    width: 100%; 
    min-height: 100%;
  }
.tabs {
    color: white;
    display: flex;
    justify-content:flex-end;
    list-style-type: none;
    font-size: 25px;
    background-color: rgb(54, 54, 54);
    margin: 0;
    padding: 0;
}
.tab {
    cursor: pointer;
    padding: 10px;
}
.tab:hover {
    background-color:rgb(87, 85, 85);
}
.tab:active {
    background-color:rgb(58, 57, 57);
}
.tab.active {
    background-color: rgb(219, 219, 219);
    color: black;
}
#lab {
    position: absolute;
    top: 10px;
    left: 50px;
    
}
#surround {
    position: absolute;
    background-color: white;
    height: 300px;
    width: 350px;
    border-radius: 30px;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#surround2 {
    position: absolute;
    background-color: white;
    height: 450px;
    width: 550px;
    border-radius: 30px;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#Htext {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#Wtext {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#search-bar {
    position: absolute;
    top: 13%;
    left: 45%;
    transform: translate(-50%, -50%);
    border: none;
    background: black;
    color: white;
    font: inherit;
    padding: 7px;
    border-radius: 18px;
}
#search-btn {
    position: absolute;
    top: 13%;
    left: 68%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    width: 40px;
    border: none;
    height: 40px;
    background: black;
    color: white;
    cursor: pointer;
    
}
#search-btn:hover {
    background: grey;
    transition: .3s ease-in-out;
}
#search-btn:active {
    background: black;
}
#search-bar:focus {
    border-radius: 2px;
    transition: .4s;
    outline: none;
}
.description {
    text-transform: capitalize;
    margin-left: 8px;
}
.flex {
    display: flex;
    align-items: center;
}
#Wtext {
    font-size: 19px;
    line-height: 30px;
}
.city {
    white-space: nowrap;
}







